.trail {
  position: fixed;
  width: 10px;
  height: 10px;
  background: #072d6b;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
}

@media (max-width: 768px) {

  .cursor-trail,
  .trail {
    display: none;
  }
}